* {
    font-family: 'Fraunces', serif;
    color: rgb(255, 255, 255);
}
body {
    margin: 0;
    background-color: #b2d5fa;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(4, 75px);
    background-color: #cb72f5;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #b1b4b4;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}
button:active {
    background-color: #97c4e9;
}
button:focus {
    outline: none;
}
.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #00000077;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #6d6d6d;
}
#valor-actual {
    font-size: 1.5em;
}
#valor-anterior {
    font-size: 2em;
}